#projectsPage {
    background-color: transparent;
}

#projectsContent {
    height: auto;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.carousel {
    padding: 20px;
    height: auto;
    width: 100%;
    perspective: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: re;

}

figure {
    margin: 0;
    width: 100%;
    height: auto;
    flex: 0 0 auto;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

#firstCard {
    position: relative;
    z-index: 2;
}

.card {
    width: 100%;
    padding: 0 0 / 2;
    flex: 0 0 auto;
    position: relative;
    border-radius: 30px;
    z-index: 1;
    &:not(:first-of-type) {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
    }
}

.card img {
    border-radius: 30px;
    overflow: hidden;
}

.projectInfo {
    background: rgb(0,0,0,.8);
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 28.5px 28.5px;
}

.description {
    width: 60%;
    margin-left: 2rem;
}

.buttons {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons a {
    background-color: #1C427C;
    box-shadow: 5px 5px 10px black;
    margin: 3px;
}

.buttons button:hover {
    background-color: #14315c;
    cursor: pointer;
}

.carousel nav {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
}

nav .prev {
    color: gray;
    position: absolute;
    height: 8rem;
    width: 8rem;
}

nav .next {
    color: gray;
    position: absolute;
    height: 8rem;
    width: 8rem;
}

nav .prev:hover {
    color: #1C427C;
    animation: 1s movingArrowLeft infinite;
}

nav .next:hover {
    color: #1C427C;
    animation: 1s movingArrowRight infinite;
}


@keyframes movingArrowRight{
    0% {transform: translate(0, 0);}
    50% {transform: translate(10px, 0);}
    100% {transform: translate(0, 0);}
}


@keyframes movingArrowLeft{
    0% {transform: translate(0, 0);}
    50% {transform: translate(-10px, 0);}
    100% {transform: translate(0, 0);}
}

