#welcomePage {
    height: 100%;
    width: auto;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#toWebsiteBtn {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fadeArrow ;
    animation-duration: 2s;
}

#toWebsiteBtn svg {
    height: 7rem;
    width: 7rem;
    color: #4F883E;
    position: relative;
    z-index: 2;
    animation: downArrow infinite normal 1s; 
    animation-delay: 2.5s;
    cursor: pointer;
}

#welcomeMsg {
    display: flex;
    justify-content: space-between;
}

#welcomePage h1 {
    width: min-content;
    margin: 30px;
    font-size: 2rem;
    align-self: center;
    text-align: flex-end;
    position: relative;
    animation-name: slideLeft;
    animation-duration: 2s;
}

#logoImg {
    border-color: rgb(79, 136, 62);
    border-style: solid;
    position: relative;
    margin: 30px;
    animation-name: slideRight;
    animation-duration: 2s;
}

@keyframes slideRight {
    0% {left: -20%; border-color: rgb(79, 136, 62, 0); opacity: 0;}
    80% {left: 0px; border-color: rgb(79, 136, 62, 0); opacity: 1;}
    100% { left: 0px; border-color: rgb(79, 136, 62);}
}

@keyframes slideLeft {
    0% {left: 20%; opacity: 0;}
    80% {left: 0px; opacity: 1;opacity: 1;}
    100% { left: 0px;}
}

@keyframes downArrow {
    0% {transform:  translate(0, 0);}
    50% {transform:  translate(0, 10px);}
    100% {transform:  translate(0, 0); }
}

@keyframes fadeArrow {
    0% {opacity: 0;}
    80% {opacity: 0;}
    100% {opacity: 1;}
}


