#contactPage {
    background-color: #1A1A1A;
}

#contactContent {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
    border-radius: 7px;
    padding: 10px 20px;
}

#emailForm {
    /* width: 35%; */
}

#emailForm h4 {
    margin: 10px 15px;
    font-size: 2rem;
}

#emailForm form {
    display: flex;
    flex-direction: column;
    margin: 30px 0 10px 0;
    align-items: flex-end;
    gap: 10px;
    
}

input, textarea {
    width: 100%;
    background-color: #0E0E0E;
    outline-style: none;
    padding: 10px 0 10px 15px;
    font-size: 1.6rem;
}


input:focus, textarea:focus {
    outline-style: none;
  }

input:active {
    border: none;
}


button[type="submit"] {
    margin: 15px;
    /* color: #0e3a80; */
    background-color: #0e3a80;
 }

button span {
    font-size: 1.4rem;
}

.contactLinks {
    background-color: blue;
    width: 80%;
    height: 20%;
}


