#ghostHeader {
    height: 45px;
    width: 100%;
}

header {
    position: relative;
    z-index: 1;
    height: 45px;
    width: 100%;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 5px 0 #121212;
}

#ashLogo {
    /* font-size: 25px; */
    height: 100%;
    width: auto;
    padding: 5px 0;
    margin: auto 20px;
}

#navLinks {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.sticky{
    position: fixed;
    top: 0;
    left: 0;
  }