#ghostHeader {
    height: 55px;
    width: 100%;
}

header {
    position: relative;
    z-index: 3;
    height: 55px;
    width: 100%;
    background-color: rgb(41, 41, 41, .90);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 5px 0 #121212;
}

#ashLogo {
    height: 100%;
    width: auto;
    padding: 5px 0;
    margin: auto 20px;
}

#navLinks {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.sticky{
    position: fixed;
    top: 0;
    left: 0;
  }